<template>
    <div>
        <footer class="">
            <div class="main-ftr">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="../../../images/logo.png">

                        </div>
                        <div class="col-md-2">
                            <h3>Quick Links</h3>
                            <ul>
                                <li><a href="#">Home</a></li>

                            </ul>
                        </div>
                        <div class="col-md-3">
                            <h3>Opening Hours</h3>
                            <ul>
                                <li><a href="#">Mon - Fri: 4:00am - 11pm</a></li>

                            </ul>
                            <h3>Check out our offers and follow us on</h3>
                            <ul>
                                <li><a href="#"  target="_blank">Facebook</a></li>
                                <li><a href="#" target="_blank"> Instagram</a></li>

                            </ul>

                        </div>
                        <div class="col-md-3">
                            <h3>Contact Us</h3>
                            <ul>
                                <li><a href="#"><span>Phone:</span>0121 439 5445</a></li>
                                <li><a href="#"><span>Email:</span>support@bigchikcen.com</a></li>
                                <li><a href="#"><span>Address:</span>373 Stratford Road, Birmingham B11 4JZ, United Kingdom</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <div class="container">
                    <p>2020 ©  <span>Big Chicken .</span>, All rights reserved</p>
                </div>
            </div>
        </footer>
    </div>
</template>
