<template>
    <div>
        <header-menu></header-menu>
<!--        <section class="rating-area">-->
<!--            <div class="container">-->
<!--                <div class="rating-img">-->
<!--                    <a href="#"><img class="for-dktp" src="https://i.ibb.co/rdDNmNh/rating-bg.png" alt="rating-bg" border="0">-->
<!--                        <img class="for-mb" src="https://i.ibb.co/Jq0Kqhn/wraps-slider.png" alt="rating-bg" border="0"></a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </section>-->


        <section class="menu-box" style="margin-bottom: 60px">
            <div class="container">
                <div class="menus pattern">
                    <div class="title">
                        <img src="/images/logo.png?12321f084212e38862ad6dea53f00763">
                        <h3>Our Food Menu</h3>
                        <!-- <p>We are an independent family owned business which thrives on delivering customers with a variety of cuisines and excellent customer service. We understand our customers have varying preferences within a family, therefore, with our extensive menu we believe we offer a “one stop shop” which caters for all. Most excitingly, we have a great Vegan menu, hopefully this means you don’t need to order from 2 places and have the inconvenience of making sure they get delivered at the same time so that you can enjoy your takeaway together</p> -->
                    </div>
                    <div class="menu-area">
                        <div class="row">
                            <div class="col-md-6" v-for="(item, index) in categories">
                                <div class="menu-card" >
                                    <h3 class="tt">{{item.name}} </h3>
                                    <ul v-for="(product,p) in item.products">
                                        <li v-if="p <= 6">
                                            <h3> {{product.name}}<span  v-html="returnPriceValue(product)"></span> </h3>
                                        </li>

                                    </ul>
                                </div>

                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center mt-5">
                                <router-link :to="{ path: '/view-menu'}"> <a href="#" class="custom-btn">View All <i class="fas fa-arrow-right"></i></a></router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="covid-section mt-5">
            <div class="container">
                <div class="title">

                    <h3>Offers</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="box red">
                            <h5>
                                Tandoori Chicken, Red Onions & Sweetcorn
                                <span>£ 15.99
                                </span>
                            </h5>
                            <h5>
                                Chinese Chicken, Red Onions, Mushroom & Green Peppers
                                <span>£ 15.99</span>
                            </h5>
                            <h5>
                                Spicy Meat Balls, Onions, Green Peppers & BBQ Sauce
                                <span>£ 15.99</span>
                            </h5>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="box yellow">
                            <h5>
                                Tandoori Chicken, Red Onions & Sweetcorn
                                <span>£ 9.99</span>
                            </h5>
                            <h5>
                                Red onions, green peppers, green chillies & jalapenos
                                <span>£ 9.99</span>
                            </h5>
                            <h5>
                                Mushroom, green peppers, onions, sweetcorn, olive & pineapple
                                <span>£ 9.99 </span>
                            </h5>

                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section class="big-img">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="info-box">
                                <h3>Explore Our All Delicious Dishes</h3>
                                <a href="#" class="custom-btn">view all <i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="img-box">
                                <img src="https://i.ibb.co/z8DPcsF/burger-slider.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="four-col">
            <div class="container">
                <div class="col-inner">


                    <div class="row c2">
                        <div class="col-md-12">
                            <div class="box about">
                                <div class="overlay"></div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="">
                                            <h4>Welcome At</h4>
                                            <h3>Big Chicken  </h3>
                                            <p>Call us for delicious food :0121 242 2020.</p>
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="img-box">
                                            <img src="https://i.ibb.co/Jq0Kqhn/wraps-slider.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Portfolio-->
        <div class="gallery">
            <div class="container">
                <div class="gallery-area">
                    <div class="title">

                        <h3>Discover Our Offers</h3>
                        <p>Check out our offers and follow us on  <a href="#" target="_blank">Facebook</a> and <a href="#" target="_blank"> Instagram @bigchicken </a></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://i.ibb.co/B65W3RG/kebeb-slider.png">
                                <img class="img-fluid" src="https://i.ibb.co/B65W3RG/kebeb-slider.png" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://i.ibb.co/z8DPcsF/burger-slider.png">
                                <img class="img-fluid" src="https://i.ibb.co/z8DPcsF/burger-slider.png" alt="" />
                            </a>
                        </div>

                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://i.ibb.co/Jq0Kqhn/wraps-slider.png">
                                <img class="img-fluid" src="https://i.ibb.co/Jq0Kqhn/wraps-slider.png" alt="" />
                            </a>
                        </div>
                        <div class="col-lg-3 col-sm-6 mb-4">
                            <a class="portfolio-box" href="https://i.ibb.co/z8DPcsF/burger-slider.png">
                                <img class="img-fluid" src="https://i.ibb.co/z8DPcsF/burger-slider.png" alt="" />
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>

        <section class="reservation">
            <div class="container">
                <div class="table-booked pattern">
                    <div class="row">
                        <div class="col-md-6">

                                <iframe src="https://maps.google.com/maps?width=100%25&height=600&hl=en&q=373%20Stratford%20Road,%20Birmingham%20B11%204JZ+(Big%20Chicken)&t=&z=14&ie=UTF8&iwloc=B&output=embed" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" width="100%" height="450"></iframe>
                        </div>
                        <div class="col-md-6">
                            <div class="form-box">
                                <div class="title">
                                    <h3>Contact us</h3>
                                    <p>373 Stratford Road, Birmingham B11 4JZ, United Kingdom.</p>
                                    <p>0121 439 5445.</p>
                                </div>
                                <form>
                                    <div class="frm-body">
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Name</label>
                                                <input type="text" class="form-control" id="" placeholder="Your Name*">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Email</label>
                                                <input type="email" class="form-control" id="" placeholder="your email *">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="">Address</label>
                                                <input type="text" class="form-control" id="" placeholder="Address">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label>Number</label>
                                                <input type="phone" class="form-control" id="" placeholder="Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="frm-ftr text-center mt-4">
                                        <button class="custom-btn">Submit <i class="fas fa-long-arrow-alt-right"></i></button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer-menu></footer-menu>
    </div>
</template>


<script>
    import VueGallery from 'vue-gallery';
    import {
        Hooper,
        Slide,
        Navigation as HooperNavigation
    } from 'hooper';

    import 'hooper/dist/hooper.css';
    export default {
        components: {
            Hooper,
            Slide,
            HooperNavigation,
            'gallery': VueGallery,
        },
        data: function () {
            return {
                images: [
                    '../../images/mainbanner1.jpeg',
                    '../../images/image00003.jpg',
                ],
                stories: [],
                index: null,
                showPopup: false,
                menu: false,
                allergy: false,
                categories:[],
            };
        },
        created() {
            this.getStory();
            this.getCategories();

        },
        methods: {
            getStory(){
                let  _this = this
                _this.loading  = true;
                axios.get('/api/our-story')
                    .then((response) => {
                        _this.stories =  response.data.data;
                        _this.loading  = false;
                    });
            },

            getCategories(){
                let  _this = this;
                _this.loading  = true;
                axios.get('/api/categories')
                    .then((response) => {
                        _this.categories =  response.data.data;
                        console.log(this.categories);
                        _this.loading  = false;

                    });
            },

            returnPriceValue(product){
                let price_string = '';
                if(product.sizes.length){

                    for(var price in  product.sizes){
                        price_string = product.sizes[0].price;
                    }
                }else {
                    price_string = product.price;
                }

                return '£'+price_string

            }

        }
    }
</script>
